*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  color: #78909c;
  background: linear-gradient(
    135deg,
    rgba(179, 229, 252, 1) 0%,
    rgba(179, 229, 252, 1) 50%,
    rgba(240, 98, 146, 1) 50%,
    rgba(240, 98, 146, 1) 100%
  );
}

/* JokeList  */

.JokeList {
  display: flex;
  width: 80%;
  height: 80%;
}
.JokeList-sidebar{
  background: #9575cd ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1),
    inset 0 0 25px #7e57c2;
  z-index: 2;
}
.JokeList h1{
  font-size: 3.6rem;
  margin: 2rem;
  color: whitesmoke;
  font-weight: 300;
  letter-spacing: 0.6rem;
}
.JokeList h1 span{
  font-weight: 700;
  letter-spacing: 0;
}
.JokeList-sidebar img{
  width: 50%;
  border-radius: 50%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}
.JokeList-jokes{
  width: 70%;
  height: 90%;
  align-self: center;
  background-color: white;
  overflow: scroll;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.JokeList-button {
  font-size: 1.5rem;
  width: 50%;
  border-radius: 2rem;
  padding: 1rem 2rem;
  color: white;
  font-weight: 700;
  margin: 2rem;
  border: none;
  word-spacing: 0.5rem;
  cursor: pointer;
  transition: 0.8s cubic-bezier(0.2, 1, 0.2, 1);
  outline: none;
  background: linear-gradient(
    135deg,
    rgba(179, 229, 252, 1) 0%,
    rgba(179, 229, 252, 1) 50%,
    rgba(240, 98, 146, 1) 50%,
    rgba(240, 98, 146, 1) 100%
  );
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.JokeList-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}

.JokeList-sidebar img:hover{
  animation-name: shake-slow;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}

@keyframes shake-slow {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  2% {
    transform: translate(5px, -6px) rotate(3.5deg);
  }
  4% {
    transform: translate(1px, -4px) rotate(2.5deg);
  }
  6% {
    transform: translate(-4px, -6px) rotate(0.5deg);
  }
  8% {
    transform: translate(2px, -9px) rotate(-0.5deg);
  }
  10% {
    transform: translate(5px, -5px) rotate(0.5deg);
  }
  12% {
    transform: translate(6px, 1px) rotate(0.5deg);
  }
  14% {
    transform: translate(5px, 2px) rotate(-1.5deg);
  }
  16% {
    transform: translate(8px, -6px) rotate(-0.5deg);
  }
  18% {
    transform: translate(-6px, -6px) rotate(3.5deg);
  }
  20% {
    transform: translate(-8px, 7px) rotate(-1.5deg);
  }
  22% {
    transform: translate(3px, 9px) rotate(1.5deg);
  }
  24% {
    transform: translate(-7px, 6px) rotate(3.5deg);
  }
  26% {
    transform: translate(9px, -5px) rotate(1.5deg);
  }
  28% {
    transform: translate(10px, 1px) rotate(-1.5deg);
  }
  30% {
    transform: translate(-8px, 5px) rotate(3.5deg);
  }
  32% {
    transform: translate(-9px, 5px) rotate(-1.5deg);
  }
  34% {
    transform: translate(-6px, 8px) rotate(0.5deg);
  }
  36% {
    transform: translate(6px, -2px) rotate(0.5deg);
  }
  38% {
    transform: translate(3px, 3px) rotate(3.5deg);
  }
  40% {
    transform: translate(6px, 10px) rotate(-1.5deg);
  }
  42% {
    transform: translate(2px, -2px) rotate(1.5deg);
  }
  44% {
    transform: translate(-6px, 8px) rotate(-0.5deg);
  }
  46% {
    transform: translate(-5px, 9px) rotate(-2.5deg);
  }
  48% {
    transform: translate(-4px, 2px) rotate(3.5deg);
  }
  50% {
    transform: translate(-9px, -3px) rotate(-1.5deg);
  }
  52% {
    transform: translate(3px, -2px) rotate(1.5deg);
  }
  54% {
    transform: translate(10px, 8px) rotate(3.5deg);
  }
  56% {
    transform: translate(7px, 8px) rotate(0.5deg);
  }
  58% {
    transform: translate(-4px, -3px) rotate(-0.5deg);
  }
  60% {
    transform: translate(9px, -4px) rotate(-1.5deg);
  }
  62% {
    transform: translate(-8px, -6px) rotate(1.5deg);
  }
  64% {
    transform: translate(-1px, -2px) rotate(3.5deg);
  }
  66% {
    transform: translate(0px, -8px) rotate(0.5deg);
  }
  68% {
    transform: translate(8px, -7px) rotate(0.5deg);
  }
  70% {
    transform: translate(3px, 4px) rotate(1.5deg);
  }
  72% {
    transform: translate(3px, 2px) rotate(1.5deg);
  }
  74% {
    transform: translate(-5px, -9px) rotate(0.5deg);
  }
  76% {
    transform: translate(1px, -8px) rotate(2.5deg);
  }
  78% {
    transform: translate(3px, 7px) rotate(-1.5deg);
  }
  80% {
    transform: translate(-9px, -4px) rotate(0.5deg);
  }
  82% {
    transform: translate(0px, -4px) rotate(-2.5deg);
  }
  84% {
    transform: translate(-7px, -3px) rotate(0.5deg);
  }
  86% {
    transform: translate(-8px, 6px) rotate(-1.5deg);
  }
  88% {
    transform: translate(3px, 4px) rotate(2.5deg);
  }
  90% {
    transform: translate(5px, 7px) rotate(2.5deg);
  }
  92% {
    transform: translate(2px, -8px) rotate(-2.5deg);
  }
  94% {
    transform: translate(-1px, -2px) rotate(-1.5deg);
  }
  96% {
    transform: translate(-4px, 10px) rotate(-1.5deg);
  }
  98% {
    transform: translate(10px, -9px) rotate(2.5deg);
  }
}


.EmtyDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13rem;
}
.EmtyDiv h1{
  color: grey;
  font-weight: 500;
}
.em-zany_face{
  font-size: 3rem;
}

/* Joke */

.Joke{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #eeee;
  font-weight: 400;
  padding: 1rem;
}
.Joke-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  margin-right: 1rem;
}
.Joke-text{
  width: 75%;
  font-size: 1.2rem;
}
.Joke-buttons span{
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  border: 3px solid red;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  box-shadow: 0 10px 38px rgba(0, 0, 0, 0.2), 0 10px 12px rgba(0, 0, 0, 0.1);
}
.spinner{
  color:#ffffb7;
  text-align: center;
}
.spinner h1{
  font-size: 3rem;
  filter: drop-shadow(8px 8px 7px #000000);
}
.fa-laugh{
  margin-bottom: 30px;
  filter: drop-shadow(2px 2px 12px #000000);
}


.fa-arrow-up, .fa-arrow-down {
  font-size: 1.5em;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.fa-arrow-up:hover {
  animation-name: move-up;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  color: #8bc34a;
}
@keyframes move-up {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(-3px);
  }
}

.fa-arrow-down:hover {
  animation-name: move-down;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  color: #f44336;
}
@keyframes move-down {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(3px);
  }
}

.Joke-emoji {
  font-size: 2.4rem;
  margin-left: auto;
  border-radius: 50%;
  box-shadow: 0 10px 38px rgba(0, 0, 0, 0.2), 0 10px 12px rgba(0, 0, 0, 0.1);
}

.Joke-emoji:hover {
  animation-name: spin;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.fa-trash-can{
  margin-left: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
}
.fa-trash-can:hover{
  animation: trashAnim 1.2s ease 0s 1 normal forwards;
  color: tomato;
}

@keyframes trashAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(0.75, 1.25, 1);
	}

	40% {
		transform: scale3d(1.25, 0.75, 1);
	}

	50% {
		transform: scale3d(0.85, 1.15, 1);
	}

	65% {
		transform: scale3d(1.05, 0.95, 1);
	}

	75% {
		transform: scale3d(0.95, 1.05, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}


/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
